body,
html {
    margin: 0;
    /* Убираем отступы */
    padding: 0;
    /* Убираем поля */
    height: 100%;
    /* Высота на 100% от высоты окна */
    font-family: Arial, sans-serif;
    /* Устанавливаем шрифт Arial для всего текста */
    box-sizing: border-box;
    /* Используем border-box для всех элементов */
}

/* Поле ввода URL */
#url-bar {
    width: 80%;
    /* Ширина поля ввода — 80% от ширины контейнера */
    padding: 10px;
    /* Внутренние отступы */
    border-radius: 64px;
    /* Скругляем углы */
}

/* Навигационная панель */
#nav-bar {
    display: flex;
    /* Используем флексбокс для выравнивания содержимого */
    align-items: center;
    /* Вертикальное выравнивание элементов по центру */
    width: 100vw;
    /* Ширина на всю ширину окна */
    height: 50px;
    /* Высота */
    background: #6780ee;
    /* Цвет фона */
}

/* Кнопка перехода */
#go-button {
    padding: 10px;
    /* Внутренние отступы */
    background-color: #d6fb51;
    /* Цвет фона */
    border-radius: 64px;
    /* Скругляем углы */
    color: #1b2b4c;
    /* Цвет текста */
    margin-left: auto;
    /* Вырыванием кнопку по правой часть панели */
}

/* Ховер для кнопки */
#go-button:hover {
    cursor: pointer;
    /* Изменяем курсор на указатель */
    background-color: #1b2b4c;
    /* Меняем цвет фона */
    color: #f5f6f7;
    /* Меняем цвет текста */
}

/* Контейнер для отображения загруженной страницы */
#browser-content {
    margin-top: 60px;
    /* Отступ сверху для размещения под панелью навигации */
    padding: 10px;
    /* Внутренние отступы для контента */
}